<h1>{{ greeting }}</h1>

<form data-form="search">
  <div>
    <input type="text" name="blog" placeholder="blog" />
    <input type="text" name="tags" placeholder="tag" />
    <button data-button="search">Search</button>
  </div>
<form>

<div data-container="images">
  <div data-container="results">
  </div>

  <button data-button="more">More</button>
</div>
